*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --vermelho: #e50914;
    --preto: #141414;

}

body{
    background-color: var(--preto);
    font-family: 'times new roman', times, serif;

}


header .container {
    border-top: 17px solid var(--preto);
    border-left: 30px solid var(--preto);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.logo {
    margin-right: 40px;
}
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}